[Unit]
Description=BCF Monitor
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/bcf-monitor -c /etc/bcfmonitor-conf.yaml
Restart=always
User=root
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target
Alias=bcf-monitor.service
